main {
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  main h1 {
    font-size: 4.5rem;
  }
}

main h1 {
  text-align: center;
  color: var(--red-text);
  font-weight: 700;
}

main a {
  border: 3px var(--red-text) solid;
  border-radius: 10px;
  padding: 0.25rem 1.5rem;
  color: var(--red-text);
  text-decoration: none;
  font-weight: 700;
  font-family: "Hanken-Grotesk";
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

main a:hover {
  color: var(--yellow-text);
  border-color: var(--yellow-text);
}
